@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
    min-height: 100vh;
    height: 100%;
}

*, *::before, *::after {
	box-sizing: border-box;
}

/* CLASE CONTENEDORA PARA TRABAJAR CON UN 70% DEL ANCHO NO CAMBIABLE SEGUN EL TAMAÑO DE LA PANTALLA */
.container{    
    width:1320px;
    margin: 0 auto;
}

/* MEDIAS QUERYS PARA ACTUALIZAR EL VALOR DE LAS CLASES SEGUN EL TAMAÑO DE LA PANTALLA */
@media(max-width:575px){ .container{ width: 100%;} }
@media(min-width:576px){ .container{ width: 540px;} }
@media(min-width:768px){ .container{ width: 720px;} }
@media(min-width:992px){ .container{ width: 960px;} }
@media(min-width:1200px){ .container{ width: 1140px;} }
